<div class="idea_form">
<%= form_for [@idea.category, @idea] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :notes %>
  <%= f.text_field :notes %>
  <%= f.collection_select :category_id, @categories,:id,:name, include_black: true %>

  <%= f.submit class: 'btn btn-default btn-sm' %>
<% end %>
</div>
