<%= link_to @idea.category.name, category_path(@idea.category) %>

<p><strong>Idea Name:</strong> <%= @idea.title %></p>
<p><strong>Idea Content:</strong> <%= @idea.notes %></p>
<%= link_to "Delete", idea_path(@idea), method: :delete %>
<%= link_to "Edit", edit_idea_path(@idea) %>
