<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-3">
<center<p>Category Name:<%= @category.name %></p>

<p><strong> List of <%= @category.name %> Ideas </strong> </p>
<% if @user == nil %>
<p> <p>
  <% else %>
  <ol>
<% @users_ideas.each do |idea| %>

<li><%= link_to idea.title, category_idea_path(@category, idea) %></li>
<%= link_to "Edit", edit_category_idea_path(@category, idea) %>
<%= link_to "Delete", category_idea_path(@category, idea), method: :delete %>

<% end %>
<ol>
<% end %>

</ol>
</div>
</div>
</div>
