<div class="abc">

<p>IdeaBox</p>


</div>
        <!-- /#sidebar-wrapper -->
    <div id="wrapper">
    <div class="overlay"></div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
            </li>

            <li>
                <a <%= link_to "Categories",categories_path  %></a>
            </li>
            <li>
                <a <%= link_to "All Images", images_path%></a>
            </li>
            <li>
              <a <%= link_to "New Idea", new_idea_path %></a>
            </li>
            <li>
              <a href="/users/new">Create a New User</a>
            </li>
            <li>
              <% if session[:user_id].nil? %>
              <% "not logged in" %>
              <% else %>
              <a <%= link_to "Account Details", user_path(User.find(session[:user_id]))%></a>
              <% end %>
            </li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Dropdown heading</li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
            <li>
              <% if logged_in? %>
                <li><%= link_to "Logout", logout_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Login", login_path %></li>
              <% end %>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
        </button>

            </div>
